@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

body{
  background-color:black ;
  background-image: url(/src/asset/bg2.jpg);
  background-repeat: no-repeat;
  background-position: cover no-repeat;
  overflow-x:hidden ;
  /* font-family: 'Kaushan Script', 'cursive'; */
}

h1 {
  font-family: 'Kaushan Script', cursive;
}