@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color:black ;
  background-image: url(/src/asset/bg2.jpg);
  background-repeat: no-repeat;
  background-position: cover no-repeat;
  overflow-x:hidden ;
  /* font-family: 'Kaushan Script', 'cursive'; */
}

h1 {
  font-family: 'Kaushan Script', cursive;
}

ion-icon {
  color: #49bc56;
}